@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenter2($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}
