$--main-color: #28587b;
$--body-bg: #fff;
$--second-bg: #f5f5f5;
$--text-color: #000;
$--text-white: #fff;
$--text-gray: #868686;
$--main-hover: #284c66;
$--section-space: 100px;
$--nav-size: 70px;
$--logo-size: 45px;
$--banner-height: 400px;
$--size: 700px;
$--position: -45px;